.acordion-details {
    display: flex;
    gap: 2rem;
    justify-content: center;;
}

.container-img-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-description {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

.container-opening {
    display: flex;
    justify-content: center;
    max-width: 70%;
}

@media (max-width: 600px) {
    .acordion-details {
        flex-direction: column;
    }

    .container-opening {
        max-width: 100%;
    }
}