.img-logo {
  width: 125px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
}

.container-box-web {
  width: 100% !important;
  max-width: 1280px !important;
  justify-content: space-between !important;
  margin: auto !important;
}

.container-menu-web {
  justify-content: flex-end;
  align-items: center;
}

.MuiMenu-paper {
  width: 100% !important;
  transition: 0.7s ease-in;
}

.btn-navbar:hover {
  color: yellow;
}

.MuiPaper-root {
  background-color: black !important;
}
