.form {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  height: 40px;
}

.textfield {
  border: 2px solid yellow !important;
  border-radius: 25px;
  top: 10px;
}

.btn-search {
  background-color: yellow !important;
  color: black !important;
  width: 100px;
}
